.user-page {
  width: 100vw;
  min-height: 100vh;
  background: url("../../assets/cinema.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  &:before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: 0.5;
  }
  .user-page-content {
    width: 80%;
    min-height: 300px;
    height: 80vh;
    z-index: 1;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    padding: 25px;
    color: white;

    ul {
      padding: 10px;
      width: 25%;
      list-style-type: none;
      border-right: 2px solid rgb(214, 26, 67);
      li {
        border-bottom: 1px solid rgb(214, 26, 67);
        padding: 10px;
      }
    }
    .user-page-info {
      width: 75%;
      padding: 10px;
    }
  }
}
