.slide-wrapper {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #00000025);
    opacity: 0.6;
  }
  img {
    width: 100vw;
  }
  .slide-description {
    position: absolute;
    color: white;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 5;
    width: 60%;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;

    h2 {
      font-size: 60px;
      margin-top: 0px;
      color: orange;
    }
    .main-slide-button {
      background: orange;
      color: white;
      border: none;
      width: 150px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s;
    }
    .main-slide-button:hover {
      background: black;
      color: white;
      transition: 0.3s;
    }
  }
}
.slides {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    z-index: 3;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
}
